
.typewriter-text {
  overflow: hidden;
  border-right: 4px solid hsl(225, 3%, 71%);
  white-space: nowrap;
  margin: 0 auto;
  animation:
    typing 2s steps(15, end),
    blink-caret 0.20s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #B2B3B6; }
}

.dark .typewriter-text {
  border-right-color: #B2B3B6;
}

.light .typewriter-text {
  border-right-color: #B2B3B6;
}
.desvanecer{
    animation-name: desvanecer;
    animation-duration: 7s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes desvanecer {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }
.animacion {
    animation-name: aparicion_logo;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards; /* Mantiene el estado final */
}

@keyframes aparicion_logo {
  0% {
    opacity: 0;
    transform: scale(0) ;
    /* filter: blur(5px); */
  }
  50% {
    opacity: 0.5;
    transform: scale(1.0001);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.loader {
  --c1:#ffffff85;
  --c2:#ffffff;
  border-top: 4px solid var(--c1);
  border-bottom: 4px solid var(--c1);
  background: linear-gradient(90deg, var(--c1) 2px, var(--c2) 0 5px,var(--c1) 0) 50%/7px 8px no-repeat;
  display: grid;
  overflow: hidden;
  animation: l5-0 3s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  width: 75%;
  height: calc(50% - 4px);
  margin: 0 auto;
  border: 2px solid var(--c1);
  border-top: 0;
  box-sizing: content-box;
  border-radius: 0 0 40% 40%;
  -webkit-mask: 
    linear-gradient(#000 0 0) bottom/4px 2px no-repeat,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: destination-out;
          mask-composite: exclude;
  background: 
    linear-gradient(var(--d,0deg),var(--c2) 50%,#0000 0) bottom /100% 205%,
    linear-gradient(var(--c2) 0 0) center/0 100%;
  background-repeat: no-repeat;
  animation: inherit;
  animation-name: l5-1;
}
.loader::after {
  transform-origin: 50% calc(100% + 2px);
  transform: scaleY(-1);
  --s:3px;
  --d:180deg;
}
@keyframes l5-0 {
  80%  {transform: rotate(0)}
  100% {transform: rotate(0.5turn)}
}
@keyframes l5-1 {
  10%,70%  {background-size:100% 205%,var(--s,0) 100%}
  70%,100% {background-position: top,center}
}